@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --background-color: #F5F6F4;
    --primary-color: #D52B1E;
	--primary-color-dark: #B52419;
	--link-color: #277D5F;
	--link-color-dark:#1f6b50;
    --text-color: #1f2937;
	--border-color: #9FA9A3;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background-color);
}

.logo {
	margin: 0 auto;
    max-width: 132px;
	max-height: 85px;
	margin-bottom: 32px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group input,
.input-group select {
	width: 100%;
	height: 59px;
	padding: 0 20px;
	
	font-size: 16px;
	
	border-radius: 16px;
	color: var(--text-color);
    
	transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-group input:focus,
.input-group select:focus {
    outline: none;
    
	border-color: var(--primary-color); 
    
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.15); 
}

.input-group select:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.input-group select:enabled {
    background-color: white;
    cursor: pointer;
}

.btn-primary {
	background-color: var(--primary-color);
	color: #FFFFFF;
	
	font-size: 16px;
	
	border-radius: 16px;

	width: 100%;
	height: 59px;
	
	cursor: pointer;
	transition: transform 0.1s, background-color 0.1s;
}

.btn-primary:active {
    transform: scale(0.97);
    background-color: var(--primary-color-dark);
}

.optional-tag {
    color: var(--link-color);
    font-size: 14px;
    margin-left: 4px;
    white-space: nowrap;
}

.btn-icon {
    width: 44px;
    height: 44px;
    border-radius: 999px;
    background: none; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 2px solid rgba(0, 0, 0, 0.5); 
    
    transition: border-color 0.2s ease, background-color 0.2s ease;
}

.btn-icon:hover {
    border-color: rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.03);
}

