<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Login - Sintropia</title>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg">
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/auth.css">
	<link rel="stylesheet" href="/css/login.css">
</head>

<body>
	
	<main>
		<div class="background-image"></div>
		
		<div class="auth-container">
						
			<img src="/images/logo.svg" alt="Logo edenred" class="logo">
		        
		    <h1 class="auth-title">Entrar na conta</h1>
		        
		    <form id="login_form" class="auth-form">
		    	<div class="input-group">
		        	<label for="email">Email corporativo</label>
		            <input type="email" id="email" name="email" placeholder="Adicionar email corporativo" required>
		    	</div>

		        <div class="input-group">
		        	<label for="password">Senha</label>
		            <input type="password" id="password" name="password" placeholder="••••••••" required>
		        </div>

		        <button type="submit" class="btn-primary">Entrar na calculadora</button>
		    </form>

			<p class="redirection-text">
				Não tem uma conta? <a href="/register" class="redirection-link">Registrar-se</a>
			</p>
				
			<p id="error" class="error-message"></p>
	
		</div>
	</main>
	
	<script>
		document.getElementById("login_form").addEventListener('submit', function (data) {
			data.preventDefault();

			const formData = new FormData(this);
			const payload = {
				email: formData.get('email'),
				password: formData.get('password')
			};

			fetch('/api/auth/login', {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify(payload)
			}).then(async res => {
				const text = await res.text();

				if (res.ok) {
					alert(text);
					window.location.href = '/';
				} else {
					document.getElementById("error").innerText = text;
				}

			});
		});
	</script>

</body>

</html>
