<!DOCTYPE html>
<html>

<head>
	<script src="js/validate.js"></script>
	
	<meta charset="UTF-8">
	<title>Home - Sintropia</title>
</head>

<body>

	<a href="/">home</a>
	
	<h1>Sua Area</h1>

	<form id="profile_form">
		<input type="text" name="name" placeholder="Seu nome">
		<input type="email" name="email" placeholder="Seu E-mail">
		<input type="password" name="password" placeholder="****">
		<input type="number" name="staff_count" placeholder="Numero de funcionarios">
		<input type="number" name="digital_staff_count" placeholder="Numero de funcionarios com cartão digital">

		<select name="state" id="state" onchange="loadCities(this,this.form.querySelector('#city''))" required>
		    <option value="">Selecione o estado</option>
		</select>

		<select name="city" id="city" disabled required>
		    <option value="">Selecione a cidade</option>
		</select>

		<button type="submit">Enviar</button>
	</form>
	
	<h2 id="error"></h2>
	
	<script type="module" src="js/profile.js"></script>
</body>

</html>
