<!DOCTYPE html>
<html>

<head>
	<script src="js/validate.js"></script>
	
	<meta charset="UTF-8">
	<title>Home - Sintropia</title>
</head>

<body>

	<a href="/">home</a>
	
	<h1>Sua Area</h1>

	<form id="profile_form">
		<input type="text" name="name" placeholder="Seu nome">
		<input type="email" name="email" placeholder="Seu E-mail">
		<input type="password" name="password" placeholder="****">
		<input type="number" name="staff_count" placeholder="Numero de funcionarios">
		<input type="number" name="digital_staff_count" placeholder="Numero de funcionarios com cartão digital">

		<input type="text" name="street" placeholder="Rua">
		<input type="text" name="number" placeholder="Numero">
		<input type="text" name="city" placeholder="Cidade">
		<input type="text" name="state" placeholder="Estado">
		<input type="text" name="zip_code" placeholder="Cep" onblur="searchByCep(this)">

		<button type="submit">Enviar</button>
	</form>
	
	<h2 id="error"></h2>
	
	<script src="js/profile.js"></script>
</body>

</html>
