<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Cadastro - Sintropia</title>
</head>

<body>
	<h1>Crie Sua Conta</h1>
	<form id="register_form">
		<input type="text" name="name" placeholder="Seu nome" required>
		<input type="email" name="email" placeholder="Seu E-mail" required>
		<input type="password" name="password" placeholder="****" required>
		<input type="number" name="staff_count" placeholder="Numero de funcionarios" required>
		<input type="number" name="digital_staff_count" placeholder="Numero de funcionarios com cartão digital">

		<select name="state" id="state" required>
		    <option value="">Selecione o estado</option>
		</select>
		
		<select name="city" id="city" disabled required>
		    <option value="">Selecione a cidade</option>
		</select>

		<button type="submit">Enviar</button>
	</form>

	<h2 id="error"></h2>

	<a href="/login">Já tem uma conta?</a>
	
	<script type="module" src="js/register.js"></script>
</body>

</html>
